<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>/tmp Directory Traversal</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    h1 {
      color: #333;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin: 5px 0;
    }
  </style>
  <body>
    <h1>/tmp Directory Traversal</h1>
    <ul>
      <% files.forEach(file => { %>
      <li><%= file %></li>
      <% }); %>
    </ul>
  </body>
</html>
