<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../icons/favicon.ico" rel="shortcut icon" />
    <title>Content</title>
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../css/dashboard/dashboard.css" />
    <link rel="stylesheet" href="../../css/dashboard/content.css" />
    <!-- Boxicons CSS -->
    <link
      flex
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- AOS Library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <!-- ASIDE -->
    <%- include("../../parts/aside.ejs",{active:"content"}) %>
    <!-- SECTION -->
    <section class="home-section">
      <div class="view-modal">
        <i class="fa-solid fa-xmark" onclick="closeView()"></i>

        <iframe src=""></iframe>
      </div>
      <header>
        <div class="text">Content</div>
        <!-- <a href="/dashboard/brochures/upload">
          <span class="link_name">Upload</span>
          <i class="bx bx-cloud-upload"></i>
        </a> -->
      </header>
      <!-- HERE -->
      <main id="content">
        <!-- Popup -->
        <div class="edit-popup hidden">
          <i class="fa-solid fa-xmark" id="closePopupBtn"></i>
          <div class="keys">
            <span>HOME</span>
            <i class="fa-solid fa-angle-right"></i>
            <span>nav_elements</span>
            <i class="fa-solid fa-angle-right"></i>
            <span>span</span>
          </div>
          <form
            class="inputs-cont"
            method="POST"
            action="/dashboard/locales"
            style="width: 100%"
          >
            <input type="hidden" name="key" />
            <div class="form__field">
              <label>EN</label>
            </div>
            <div class="form__field">
              <label>AR</label>
            </div>

            <div class="form__field">
              <input type="submit" value="Edit" />
            </div>
          </form>
        </div>
        <!-- Loader -->
        <div class="dot-spinner">
          <div class="dot-spinner__dot"></div>
          <div class="dot-spinner__dot"></div>
          <div class="dot-spinner__dot"></div>
          <div class="dot-spinner__dot"></div>
          <div class="dot-spinner__dot"></div>
          <div class="dot-spinner__dot"></div>
          <div class="dot-spinner__dot"></div>
          <div class="dot-spinner__dot"></div>
        </div>
        <!-- Elements -->
        <ul class="tree collapsed"></ul>
      </main>
    </section>

    <script src="../../js/dashboard/contentList.js"></script>
    <script src="../../js/dashboard/modalHandler.js"></script>
    <!-- AOS Library -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
