section#contact {
  background-color: var(--dark-bg);
}

section#contact .container {
  height: 100vh;
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#contact .top h1.section-title {
  margin-left: 15px;
  margin-bottom: 5px;
}

#contact .top h1.title {
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 2.3rem;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 1.2;
}

#contact .top h1.title span {
  background-image: linear-gradient(
    to right,
    var(--dark-blue),
    var(--light-blue)
  );
  -webkit-background-clip: text; /* For Safari and older versions of Chrome */
  background-clip: text;
  color: transparent;
}

#contact .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

#contact .bottom .right {
  height: 100%;
  width: 45%;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
}

#contact .bottom .left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#contact .bottom .left ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact .bottom .left > li .head {
  display: flex;
  align-items: center;
  gap: 15px;
}
#contact .bottom .left > li .head h1 {
  color: var(--white);
  font-size: 1.4rem;
}
#contact .bottom .left > li .icon {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    var(--dark-blue),
    var(--light-blue)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
}

#contact .bottom .left > li .icon img {
  filter: invert(100%);
}

#contact .bottom .left > li li {
  color: var(--gray);
  margin-left: 90px;
}

#contact .bottom .left > li li a {
  color: var(--gray);
}

/* =============== [ MEDIA QUERIES ] =============== */

@media (max-width: 1024px) {
  section#contact .container {
    min-height: 100vh;
    height: auto;
    gap: 40px;
  }
  #contact .bottom {
    flex-direction: column;
    height: 100%;
    gap: 40px;
  }
  #contact .bottom .right {
    height: 400px;
    width: 100%;
  }
  #contact .bottom .left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 70px;
    grid-template-areas:
      "location location social social"
      "phone phone phone phone"
      "phone phone phone phone";
  }
  .location {
    grid-area: location;
  }
  .social {
    grid-area: social;
  }
  .phone {
    grid-area: phone;
    height: min-content;
  }
  #contact .top h1.title {
    font-size: 2.1rem;
  }
}

@media (max-width: 780px) {
  #contact .top h1.title {
    font-size: 1.8rem;
  }
  #contact .bottom .left > li .icon {
    width: 38px;
    height: 38px;
    border-radius: 7px;
    padding: 11px;
  }
  #contact .bottom .left > li .head h1 {
    font-size: 1.2rem;
  }
  #contact .bottom .right {
    height: 300px;
  }
}

@media (max-width: 600px) {
  #contact .bottom .left > li li {
    font-size: 0.9rem;
    margin-left: 80px;
  }
  #contact .bottom .left {
    display: flex;
    flex-direction: column;
  }
  #contact .top h1.title {
    font-size: 1.6rem;
  }
  #contact .bottom .left > li .icon {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    padding: 10px;
  }
  #contact .bottom .left > li .head h1 {
    font-size: 1.1rem;
  }
}
