* {
  letter-spacing: 0px !important;
}
.section-title::before {
  top: 15px;
  right: -25px;
}
.section-title {
  margin-right: 25px;
}

nav .main-ul {
  margin-left: -40px;
}

nav .image-li {
  margin-right: 25px;
}

.login input[type="password"],
.login input[type="text"],
.login input[type="email"],
.login textarea {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.login label {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-right: 20px;
  padding-right: 1.25rem;
  padding-left: 20px;
  padding-left: 1.25rem;
}

#about.news .left img {
  left: -350px;
  right: 0px;
}

@media (max-width: 1100px) {
  #about.news .left img {
    left: -400px;
  }
}
@media (max-width: 900px) {
  #about.news .left img {
    bottom: -510px;
    right: 50%;
    transform: translateX(50%);
    width: 700px;
  }
}

section.container .apply-section {
  border-right: none;
  padding-right: 0px;
  border-left: 2px solid #092634;
  padding-left: 30px;
}

section.container .job-section .job-desc p,
section.container .job-section .requirements li {
  margin-left: 0px;
  margin-right: 30px;
}

section.container .job-section .requirements li {
  margin-left: 0px;
  margin-right: 40px;
}

@media (max-width: 1100px) {
  #questions .right .job-model {
    right: 50%;
    transform: translateX(50%);
    margin-right: -30px;
  }
}
