nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 12vh;
}
nav .main-ul {
  margin-right: -40px;
}

nav a img {
  width: 140px;
}

.image-li {
  margin-bottom: -7px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 25px;
}

.nav-phone .image-li {
  margin-left: 0px;
}

.image-li:hover {
  transform: scale(0.9);
  opacity: 0.75;
}

.image-li a {
  opacity: 1 !important;
}

.image-li img {
  width: 45px;
  /* border-radius: 5px;
  padding: 1px;
  background-color: #fff; */
}

.nav-phone,
.toggle-icon {
  display: none;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
}

nav .main-ul li a,
.nav-phone li a {
  color: var(--white);
  opacity: 0.4;
  font-size: 1.15rem;
  font-weight: 300;
  transition: 0.3s;
  text-decoration: none;
}
nav .main-ul li a.active,
nav .main-ul li a:hover,
.nav-phone li a.active,
.nav-phone li a:hover {
  opacity: 1;
}

nav .main-ul li,
.nav-phone li {
  position: relative;
}

nav .main-ul li a .drop-down-icon {
  font-size: 1.05rem;
  margin-right: 5px;
  transition: 0.3s;
}

nav .main-ul li a.active .drop-down-icon {
  transform: rotate(180deg);
}

.sub-list {
  position: absolute;
  top: 35px;
  right: 30px;
  background: #fff;
  border-radius: 8px;
  flex-direction: column;
  min-width: 200px;
  z-index: 99;
  align-items: flex-start;
  gap: 0px;
  overflow: hidden;
  padding: 10px 0px;
  transition: 0.3s ease-in-out;
  opacity: 0;
  transform-origin: top center;
  left: 50%;
  transform: translateX(-50%) scaleY(0) skew(20deg, 20deg);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}
.sub-list.active {
  opacity: 1;
  transform: translateX(-50%) scaleY(1) skew(0deg, 0deg);
}

.sub-list li {
  width: 100%;
}

.sub-list li a {
  color: var(--dark-bg) !important;
  opacity: 1 !important;
  font-size: 1.05rem !important;
  font-weight: 400 !important;
  transition: 0.2s !important;
  padding: 10px 20px;
  display: block;
  width: 100%;
}
.sub-list li a:hover {
  background-color: #eee;
  padding-left: 30px;
  text-decoration: none !important;
}

/* ================ [ MEDIA QUERIES ] ================ */

/* Navbar */
@media (max-width: 1000px) {
  nav ul {
    display: none;
  }
  .nav-phone {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #0a1c2993;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    z-index: 99;
    transition: 0.4s;

    opacity: 0;
    pointer-events: none;
  }

  .nav-phone a {
    font-size: 1.5rem !important;
  }

  .toggle-icon {
    margin-bottom: 15px;
    width: 35px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
    cursor: pointer;
    transition: 0.4s;
  }

  .toggle-icon .top,
  .toggle-icon .middle,
  .toggle-icon .bottom {
    width: 100%;
    height: 4px;
    background-color: var(--white);
    transition: transform 0.2s;
  }
}

@media (max-width: 570px) {
  .nav-phone a {
    font-size: 1.3rem !important;
  }

  nav a img {
    width: 115px;
  }
  .toggle-icon {
    transform: scale(0.93) translateY(5px);
  }
}

@media (max-width: 450px) {
  nav a img {
    width: 110px;
  }
}
