#about.news .container {
  min-height: 65vh;
}

#about.news .left img {
  position: absolute;
  bottom: -420px;
  right: -350px;
  width: 900px;
}

@media (max-width: 1100px) {
  #about.news .left img {
    bottom: -360px;
    right: -400px;
    width: 800px;
  }
}

@media (max-width: 900px) {
  #about.news .container {
    flex-direction: column;
    gap: 0vw;
    justify-content: flex-start;
    min-height: 88vh;
  }
  #about.news .left img {
    bottom: -510px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
  }
}

@media (max-width: 900px) {
  #about.news .left img {
    bottom: -430px;
    width: 550px;
  }
}
