section#questions {
  background-color: var(--white);
}

section#questions .container {
  min-height: 70vh;
  padding: var(--section-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

#questions .left h1.title {
  font-family: "Rubik", sans-serif;
  color: var(--dark-bg);
  font-size: 2.3rem;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 1.2;
}

#questions .left h1.title span {
  background-image: linear-gradient(
    to right,
    var(--dark-blue),
    var(--light-blue)
  );
  -webkit-background-clip: text; /* For Safari and older versions of Chrome */
  background-clip: text;
  color: transparent;
}

#questions .left p {
  color: var(--gray);
  margin-top: 10px;
  font-size: 1.1rem;
}

#questions .left,
#questions .right {
  width: 50%;
  position: relative;
}
#questions .right .job-model {
  width: 375px;
  position: absolute;
  bottom: -246px;
  right: 35px;
  z-index: 2;
}

#questions .right .cube-bg {
  --size: 600px;
  width: var(--size);
  height: var(--size);
  border-radius: 60px;
  background-image: linear-gradient(
    to right,
    var(--dark-blue),
    var(--light-blue)
  );
  position: absolute;
  top: 0;
  right: -125px;
  transform: rotate(150deg);
  z-index: 1;
}

#questions .right .label {
  position: absolute;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 30px;
  padding: 10px 20px;
  z-index: 3;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#questions .right .label.orange {
  top: -30px;
  left: 10px;
  background-color: #ff904b;
  animation: purpleItem 3s ease-in-out infinite;
}

#questions .right .label.purple {
  background-color: #a799f3;
  right: -40px;
  top: 100px;
  animation: purpleItem 4s ease-in-out infinite;
}

@keyframes purpleItem {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

#questions .right .label i {
  font-size: 1.5rem;
}

@media (max-width: 1100px) {
  section#questions .container {
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }
  #questions .left,
  #questions .right {
    min-width: 70%;
    text-align: center;
  }
  #questions .right .job-model {
    width: 375px;
    position: relative;
    bottom: -72px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  #questions .right .cube-bg {
    --size: 500px;
    top: 250px;
    right: auto;
    left: 50%;
    transform: translateX(-50%) rotate(150deg);
  }
  #questions .right .label.purple {
    top: auto;
    bottom: 60px;
  }
  #questions .right .label.orange {
    top: auto;
    bottom: 150px;
    left: -50px;
  }
}

@media (max-width: 700px) {
  section#questions .right,
  section#questions .left {
    width: 90%;
  }
}

@media (max-width: 500px) {
  #questions .right .label {
    display: none;
  }
}

@media (max-width: 375px) {
  #questions .right .job-model {
    margin-left: 10px;
  }
}
