.form-cont {
  padding: 30px 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form_ele {
  display: flex;
  min-height: 60px;
  margin-bottom: 15px;
}

.form_ele label {
  display: block;
  width: 65px;
  min-height: 100%;
  background-color: #1f1f26;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  display: flex;
  padding-top: 25px;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}

.form_ele input,
.form_ele textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid transparent;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 16px;
  color: white;
  background-color: #2e2d38;
}

.form_ele textarea {
  resize: none;
  min-height: 200px;
}

.permissions {
  margin-bottom: 15px;
}

.permissions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

label.checkbox-label {
  display: flex;
  align-items: center;
  background: #2e2d38;
  color: rgba(255, 255, 255, 0.5);
  padding: 15px 25px;
  border-radius: 4px;
  /* border: 1px solid #ccc; */
  cursor: pointer;
  font-weight: 300;
}

input.checkbox-inp {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

button {
  padding: 15px 15px;
  background-color: #00c3ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  background-color: #434a52;
}

table#adminsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#adminsTable th,
#adminsTable td {
  padding: 10px;
  text-align: left;
  color: #eee;
  text-align: center;
  /* border-bottom: 1px solid #ddd; */
}
#adminsTable td {
  border-bottom: 2px solid #434a52;
}

#adminsTable .true {
  color: gold;
}

.isSuper-true {
  color: gold !important;
}

.isActive-false {
  color: orangered !important;
}

#adminsTable th {
  font-weight: 500;
  background-color: #2e2d38;
}

#adminsTable button {
  padding: 10px;
  width: 150px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

#adminsTable .btn-show {
  background-color: #fff;
  color: black;
}

#adminsTable .btn-delete {
  background-color: #dc3545;
  color: white;
}

#adminsTable button:hover {
  opacity: 0.9;
}

#adminsTable button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.full-name,
.username,
p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 500;
  color: #fff;
}

.full-name i,
.username i {
  font-weight: 400;
  background-color: #2e2d38;
  color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  font-size: 1rem;
  display: block;
}

.isActive {
  margin-bottom: 20px;
}

.isActive label {
  color: greenyellow;
  font-weight: 400;
}

.isActive.danger label {
  color: #fb0000;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: greenyellow;
  box-shadow: 0px 0px 8px 4px rgba(172, 255, 47, 0.2);
  display: inline-block;
  margin-left: 10px;
}

.isActive.danger .circle {
  background-color: #fb0000;
  box-shadow: 0px 0px 8px 4px rgb(255 47 47 / 31%);
}

.password-reset {
  border-top: 3px solid #2e2d38;
  margin-top: 30px;
  padding-top: 20px;
}

.password-reset .form-ele {
  margin-bottom: 10px;
}
.password-reset button {
  margin-top: 5px;
}
